<!DOCTYPE HTML>
<html>
	<head>
		<title>Online Test System</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="/" class="logo"><strong>Online Test System</strong></a>
								</header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>{{details.title}}</h1>
									</header>
                                    <p>{{details.description}}</p>
                                    {{#if goingon}}
                                        <button class="special" onclick="window.location='/givetest/{{details.id}}'">Go To Questions</button>
                                    {{/if}}
                                    {{#if upcoming}}
                                        <p id="timer"></p>
                                    {{/if}}
                                    {{#if over}}
                                        <h3>The test has ended</h3>
                                    {{/if}}
								</section>
						</div>
					</div>
				<!-- Sidebar -->
					<div id="sidebar">
							<div class="inner">
								<!-- Menu -->
									<nav id="menu">
										<header class="major">
											<h2>Menu</h2>
										</header>
										<ul>
											<li><a href="/profile">Profile</a></li>
											<li><a href="/tests">View Tests</a></li>
											<li><a href="/createtest">Create New Test</a></li>
											<li><a href="/managetest">Manage Created Test</a></li>
											<li><a href="/logout">Logout</a></li>
										</ul>
									</nav>
							</div>
						</div>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
        <script>
            $(document).ready(function(){
                var countDownDate = new Date("{{details.start}}").getTime();
                var x = setInterval(function() {
                    var now = new Date().getTime();
                    var distance = countDownDate - now;
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    document.getElementById("timer").innerHTML ="Test will begin in " + days + "d " + hours + "h "
                    + minutes + "m " + seconds + "s ";
                    if (distance <= 0) {
                        location.reload(true);
                    }
                }, 1000);
            });
        </script>
	</body>
</html>